* {
      margin:       0;
      padding:      0;
      box-sizing:   border-box;
      font-family: 'Outfit', sans-serif;
  }
body {
    background-color: hsl(212, 45%, 89%);
}

#qr {
    display:          flex;
    flex-direction:   column;
    border-radius:    20px;
    height:           450px;
    text-align:       center;
    width:            280px;
    background-color: hsl(0, 0%, 100%);
    justify-content:  center;
    align-items:      center;
    margin:           8rem auto 2rem;
    padding:          10px 10px 2.7rem;
    box-shadow:       1px gray;
    text-shadow:      0.5px 0.5px;
    box-shadow:       3px 3px 10px lightgray;
}


img {
    width:          100%;
    border-radius:  10px;
}


p {
    font-size:  15px;
    margin:     0px 10px;
    color:      hsl(220, 15%, 55%);
}
h1 {
    color:      hsl(218, 44%, 22%);
    font-size:  1.2rem;
    margin:     10px 5px 10px 5px;
	
}
.attribution {
    text-align:   center;
    font-size:    0.6rem;
    color:        hsl(210, 50%, 40%);
}
@media screen and (max-width: 500px) {
	#qr {
      width:      78%;
      height:     80%;
      margin-top: 4rem;
	}
	img {
      width:        93%;
      margin-top:   -1rem;
	}
	h1 {
      font-size:    25px;
      margin:       15px 20px 15px 20px;
	}
	p {
      font-size:    16px;
      margin-left:  25px;
      margin-right: 25px;
	}
